
/*.followers.row{
	height: 60px;
	padding: 12px 0;
	margin-left: 150px;
}*/

body{
	padding-top: 10px;
	background-color: #f5f8fa;
}

.navbar{
	margin-left: 150px;

}

/*.navrow.row{
	height: 50px;
	padding: 12px 12px;
	
}*/
*/
.banner{
	padding-top: 10px;
}

.contentheading{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 40px;

}
.tweeto{
	width: 100px;
}


 .userNav li{
 	float: left;
 	margin-right: 10px;
 	font-size: 20px;
 }